body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h2 {
  text-align: center;
  margin-bottom: 7px;
  color: black;
  font-size: 30px;
  margin-top: 15px;
}

label {
  opacity: 0.8;
}

input[type=button] {
  background-image: url("imgLogin/low-vision.png");
  background-repeat: no-repeat;
  background-size: 24px auto;
  background-position: center;
  width: 45px;
  height: 26px;
  margin-top: 19px;
  border: inherit;
  position: absolute;
  right: 9px;
  top: 8px;
  cursor: pointer;
  opacity: 0.8;
}

.password {
  position: relative;
}

input[type=button]:hover {
  opacity: 0.5;
}

form {
  border-radius: 30px;
  box-shadow: 0px 2px 8px 0px rgba(39, 41, 48, 0.5);
  padding-bottom: 20px;
  padding-top: 30px;
  width: 390px;
  font-size: 17px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.login {
  height: 100vh;
  position: relative;
  background-image: url("imgLogin/login-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.login::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(102,82,73,0.62);
  z-index: 1;
  position: absolute;
}


input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px 0px rgba(39, 41, 48, 0.5);
  border: inherit;
}

#uname {
  margin-bottom: 20px;
}

#showpsw {
  float: left;
}

input[type=checkbox] {
  cursor: pointer;
}


button {
  background-color: #00FF33;
  color: black;
  padding: 14px 20px;
  margin: 30px 0;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
  box-shadow: 2px 2px 2px grey;
  border: inherit;
  font-size: 15px;
  opacity: 0.85;
}

button:hover {
  opacity: 1;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  float: right;
  margin: 10px 0;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 35px;
}

.container-cancel{
  padding-right: 35px;
  padding-bottom: 35px;
}

span.psw {
  padding-top: 16px;
}

.container a {
  color: black;
  text-decoration: none;
  float: right;
  margin-top: 0px;
}

.container a:hover {
  opacity: 0.7;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

.orange {
  color: black;
  border: solid 1px #da7c0c;
  background: rgb(236, 155, 68);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(243, 171, 95)), to(#db7d3a));
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  background: linear-gradient(to bottom, rgb(243, 171, 95) 50%, #db7d3a 100%);
}

.orange:hover {
  color: white;
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(243, 171, 95)), to(#db7d3a));
}

.orange:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 186, 130)), to(#d5874e));
  background: -moz-linear-gradient(top, #f47a20, #faa51a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.red {
  color: black;
  border: solid 1px #da7c0c;
  background: rgb(236, 68, 68);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 91, 91)), to(rgb(255, 32, 32)));
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  background: linear-gradient(to bottom, rgb(254, 91, 91) 5%, rgb(255, 32, 32) 100%);
}

.red:hover {
  color: white;
  background: #f71b1b;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 91, 91)), to(rgb(255, 32, 32)));
  background: -moz-linear-gradient(top, #f88e11, #f06015);
  background: linear-gradient(to bottom, rgb(254, 91, 91) 5%, rgb(255, 32, 32) 100%);
}

.red:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 91, 91)), to(rgb(255, 32, 32)));
  background: -moz-linear-gradient(top, #f47a20, #faa51a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/*#toast-container{*/
/*  position: absolute;*/
/*  top: 0;*/
/*  right: 0;*/
/*}*/


.register{
  text-align: center;
  margin-top: 25px;
}

.register a{
  color: blue;
  text-decoration: underline;
}

.register a:hover {
  opacity: 0.75;
  cursor: pointer;
}
