/*.section {*/
/*  position: relative;*/
/*  height: 100vh;*/
/*}*/
/*:root{*/
/*  --color-content: rgb(236, 155, 68);*/
/*}*/
/*.section .section-center {*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 0;*/
/*  right: 0;*/
/*  -webkit-transform: translateY(-50%);*/
/*  transform: translateY(-50%);*/
/*}*/

/*#booking {*/
/*  font-family: 'Alice', serif;*/
/*  background: rgba(133, 104, 73, 0.53);*/
/*}*/

/*.booking-form {*/
/*  position: relative;*/
/*  width: 80%;*/
/*  width: 100%;*/
/*  margin: auto;*/
/*  background: #fff;*/
/*  border-radius: 6px;*/
/*  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);*/
/*  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.booking-form .booking-bg {*/
/*  position: absolute;*/
/*  left: 25px;*/
/*  top: -25px;*/
/*  bottom: -25px;*/
/*  width: 400px;*/
/*  background-image: url('app/img/hinh-anh-ly-cafe-dep-1.jpeg');*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*  padding: 25px;*/
/*  border-radius: 6px;*/
/*  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);*/
/*  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);*/
/*  overflow: hidden;*/
/*}*/
/*.header-content{*/
/*  text-align: center;*/
/*  color: var(--color-content);*/
/*  font-family: 'Playfair Display', serif;*/
/*}*/
/*.booking-form .booking-bg::before {*/
/*  content: '';*/
/*  position: absolute;*/
/*  left: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  top: 0;*/
/*  background: rgba(236, 155, 68, 0.6);*/
/*}*/

/*.booking-form>form {*/
/*  margin-left: 425px;*/
/*  padding: 30px;*/
/*}*/

/*.booking-form .form-header {*/
/*  margin-bottom: 30px;*/
/*  margin-top: 60px;*/
/*  position: relative;*/
/*  z-index: 20;*/
/*}*/

/*.booking-form .form-header h2 {*/
/*  margin-top: 0;*/
/*  margin-bottom: 15px;*/
/*  font-weight: 900;*/
/*  color: #fff;*/
/*  font-size: 42px;*/
/*  text-transform: capitalize;*/
/*}*/

/*.booking-form .form-header p {*/
/*  color: #fff;*/
/*  font-size: 18px;*/
/*}*/

/*.booking-form .form-group {*/
/*  position: relative;*/
/*  margin-bottom: 20px;*/
/*}*/

/*.booking-form .form-control {*/
/*  background-color: #e5e5e5;*/
/*  height: 45px;*/
/*  padding: 0px 15px;*/
/*  color: #151515;*/
/*  border: 1px solid #e5e5e5;*/
/*  font-size: 16px;*/
/*  font-weight: 700;*/
/*  -webkit-box-shadow: none;*/
/*  box-shadow: none;*/
/*  border-radius: 40px;*/
/*  -webkit-transition: 0.2s all;*/
/*  transition: 0.2s all;*/
/*}*/

/*.booking-form .form-control::-webkit-input-placeholder {*/
/*  color: #e5e5e5;*/
/*}*/

/*.booking-form .form-control:-ms-input-placeholder {*/
/*  color: #e5e5e5;*/
/*}*/

/*.booking-form .form-control::placeholder {*/
/*  color: #e5e5e5;*/
/*}*/

/*.booking-form .form-control:focus {*/
/*  background: #f8f8f8;*/
/*}*/

/*.booking-form input[type="date"].form-control:invalid {*/
/*  color: #e5e5e5;*/
/*}*/

/*.booking-form select.form-control {*/
/*  -webkit-appearance: none;*/
/*  -moz-appearance: none;*/
/*  appearance: none;*/
/*}*/

/*.booking-form select.form-control:invalid {*/
/*  color: #e5e5e5;*/
/*}*/

/*.booking-form select.form-control option {*/
/*  color: #151515;*/
/*}*/

/*.booking-form select.form-control+.select-arrow {*/
/*  position: absolute;*/
/*  right: 3px;*/
/*  bottom: 5px;*/
/*  width: 32px;*/
/*  line-height: 32px;*/
/*  height: 32px;*/
/*  text-align: center;*/
/*  pointer-events: none;*/
/*  color: #e5e5e5;*/
/*  font-size: 14px;*/
/*}*/

/*.booking-form select.form-control+.select-arrow:after {*/
/*  content: '\279C';*/
/*  display: block;*/
/*  -webkit-transform: rotate(90deg);*/
/*  transform: rotate(90deg);*/
/*}*/

/*.booking-form .form-label {*/
/*  color: var(--color-content);*/
/*  text-transform: uppercase;*/
/*  line-height: 24px;*/
/*  height: 24px;*/
/*  font-size: 14px;*/
/*  font-weight: 400;*/
/*  margin-left: 20px;*/
/*}*/

/*.booking-form .form-btn {*/
/*  margin-top: 30px;*/
/*}*/

/*.booking-form .submit-btn {*/
/*  display: block;*/
/*  width: 100%;*/
/*  color: #fff;*/
/*  background-color: rgba(236, 155, 68, 1);*/
/*  font-weight: 700;*/
/*  font-size: 18px;*/
/*  border: none;*/
/*  border-radius: 40px;*/
/*  height: 55px;*/
/*  -webkit-transition: 0.2s all;*/
/*  transition: 0.2s all;*/
/*}*/

/*.booking-form .submit-btn:hover,*/
/*.booking-form .submit-btn:focus {*/
/*  background-color:rgba(236, 155, 68, 0.7);*/
/*}*/

/*@media only screen and (max-width: 768px) {*/
/*  .booking-form .booking-bg {*/
/*    position: relative;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    top: -15px;*/
/*    width: 95%;*/
/*    margin: auto;*/
/*  }*/
/*  .booking-form>form {*/
/*    margin-left: 0px;*/
/*  }*/
/*}*/

/*.booking-form .header-content h2{*/
/*  margin-bottom: 50px;*/
/*}*/

/*!* You can add global styles to this file, and also import other style files *!*/

/*html, body { height: 100%; }*/
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/


/* You can add global styles to this file, and also import other style files */

/*HauLST - đặt biến global cho css*/
/*:root {*/
/*  --main-color : rgb(236, 155, 68);*/

/* You can add global styles to this file, and also import other style files */

/*@import "~bootstrap/dist/css/bootstrap.css";*/

/*HauLST - đặt biến global cho css*/


/*:root {*/


/*  --main-color : rgb(236, 155, 68);*/



/*}*/

@import '~ngx-toastr/toastr';

/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');*/

.toast-container .ngx-toastr {
  width: 375px !important;
  font-size: 14px !important;
}

.toast-title {
  font-size: 20px !important;
}

.toast-message {
  font-size: 16px !important;
}

:root {
  --primary-color: rgb(236, 155, 68);
  --main-color: rgb(236, 155, 68);
  --black: #13131a;
  --bg: #010103;
  --border: .1rem solid rgba(255, 255, 255, .3);
  --color-content: rgb(236, 155, 68);
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /*text-transform: capitalize;*/
  transition: .2s linear;
}

html {
  /*font-size: 62.5%;*/
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: .8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

section {
  padding: 2rem 7%;
}

@media (max-width:450px) {
  html {
    font-size: 50%;
  }
}

body {
  margin: 0;
}

