<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<main class="container">
  <div class="before">
    <div class="forget-password">
      <form style="background-color:#f1f1f1;" [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
        <h2>Quên mật khẩu</h2>
        <div class="container">
          <div class="form-group">
            <label for="email"><b>Nhập email của bạn:</b></label>
            <input class="form-control" type="text" formControlName="email" name="email" id="email"
                   placeholder="htyfg@gmail.com" (click)="check=null">
            <div
              *ngIf="forgotPasswordForm.get('email').invalid &&(forgotPasswordForm.get('email').dirty||forgotPasswordForm.get('email').touched) ">
              <p class="w3-panel w3-red" *ngIf="forgotPasswordForm.get('email').hasError('required')">Email không được
                để
                trống</p>
              <p class="w3-panel w3-red" *ngIf="forgotPasswordForm.get('email').hasError('email')">Bạn cần nhập địa chỉ
                email đúng định dạng</p>
            </div>
          </div>
          <div class="form-group">
            <small>
              <div class='w3-panel w3-red' *ngIf="check==false">
                Không có Tài khoản Email nào có thông tin như bạn đã cung cấp
              </div>
              <div class='w3-panel w3-green' *ngIf="check==true">
                Yêu cầu xác thực đã được gửi về email của bạn
              </div>
            </small>
            <button class="btn btn-success px-5">Gửi</button>
          </div>

          <div class="form-group">
            <p>Chưa có tài khoản? <a href="#">Đăng ký</a>.</p>
            <p>Bạn đã có tài khoản?<a routerLink="/login/login-child">Đăng nhập</a>.</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>

