body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h2 {
  text-align: center;
  margin-bottom: 7px;
  color: black;
  font-size: 30px;
  margin-top: 15px;
}

label {
  opacity: 0.8;
}

input:hover {
  opacity: 0.5;
}

form {
  border-radius: 20px;
  box-shadow: 0px 2px 8px 0px rgba(39, 41, 48, 0.5);
  padding-bottom: 13px;
  padding-top: 30px;
  width: 350px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.forget-password {
  height: 100vh;
  position: relative;
  background-image: url("https://wallpaperaccess.com/full/1076692.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.forget-password::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(102, 82, 73, 0.62);
  z-index: 1;
  position: absolute;
}


input {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px 0px rgba(39, 41, 48, 0.5);
  border: inherit;
}

#email{
  margin-bottom: 20px;
}

input[type=checkbox] {
  cursor: pointer;
}


button {
  background-color: rgb(236, 155, 68);
  color: black;
  padding: 14px 20px;
  margin: 30px 0;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
  box-shadow: 2px 2px 2px grey;
  border: inherit;
  font-size: 15px;
}

button:hover {
  opacity: 0.85;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

.container a {
  color: black;
  text-decoration: none;
  float: right;
  margin-top: 3px;
}

.container a:hover {
  opacity: 0.7;
}

@media (max-width: 584px) {
  .container{
    max-width: 100%;
  }
}

