<div [hidden]="true" id="noti" class="alert alert-warning alert-dismissible fade show" role="alert">
  <h4 class="alert-heading text-warning">Cảnh báo!!</h4>
  <strong>Xin chào!</strong>
  <p *ngFor="let item of messageAlert">{{item}}</p>
  <button type="button" class="close" (click)="hide()" aria-label="Close">
    <span>&times;</span>
  </button>
  <hr>
</div>
<div id="booking" class="section">
  <div class="section-center">
    <div class="container-fluid">
      <div class="row">
        <div class="booking-form">
          <div class="booking-bg">
            <div class="form-header">
              <h2>The Coffe House</h2>
              <p>
                The morning cup of coffee has an exhilaration about it which the cheering influence of the afternoon or
                evening cup of tea cannot be expected to reproduce.</p>
              <p>---Oliver Wendell Holmes Sr---</p>
            </div>
          </div>
          <form [formGroup]="tableForm" (ngSubmit)="createTable()">
            <input type="hidden" formControlName="emptyTable" [value]="false">
            <div class="header-content1">
              <h2>Thêm mới bàn</h2>
            </div>
            <div class="form-group">
              <span class="form-label">ID Bàn <i class="text-danger">(*)</i></span>
              <input class="form-control" type="text" placeholder="TBXXX" formControlName="codeTable">
              <span class="select-arrow"></span>
              <div *ngIf="!tableForm.get('codeTable').valid && tableForm.get('codeTable').touched">
                <p *ngIf="tableForm.get('codeTable').errors?.required" style="color: red"><i>Không được để trống!</i></p>
                <p *ngIf="tableForm.get('codeTable').errors?.pattern" style="color: red"><i>Sai định dạng(TBXXX)!</i>
                <p *ngIf="tableForm.get('codeTable').errors?.checkCodeTable" style="color: red"><i>codeTable đã tồn tại! </i>
                </p>
              </div>
            </div>
            <div class="form-group">
              <span class="form-label">Trạng thái bàn <i class="text-danger">(*)</i> </span>
              <select id="select-status" class="form-control" formControlName="status">
                <option value="" selected hidden>Chọn một trạng thái</option>
                <option *ngFor="let item of status" class="option" value="{{item.idStatus}}"><p>{{item.nameStatus}}</p>
                </option>
              </select>
              <span class="select-arrow"></span>
              <div *ngIf="!tableForm.get('status').valid && tableForm.get('status').touched">
                <p *ngIf="tableForm.get('status').errors.required" style="color: red"><i>Không được để trống!</i></p>
              </div>
            </div>
            <div class="row">
              <div class="form-btn col-md-6">
                <!-- Button trigger modal -->
                <button type="button" class="submit-btn" data-toggle="modal" data-target="#exampleModal">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18px"
                       style="fill: white; line-height: 54px; msFilter">
                    <path d="m8.121 12 4.94-4.939-2.122-2.122L3.879 12l7.06 7.061 2.122-2.122z"></path>
                    <path d="M17.939 4.939 10.879 12l7.06 7.061 2.122-2.122L15.121 12l4.94-4.939z"></path>
                  </svg>
                  Trở về
                </button>
              </div>
              <div class="form-btn col-md-6">
                <button type="submit" class="submit-btn">Tạo mới</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Xác nhận trở về</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="color: red">
          Bạn có muốn quay lại trang danh sách!!!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="returnList()">Đồng ý</button>
        </div>
      </div>
    </div>
  </div>
</div>
