.section {
  position: relative;
  height: 100vh;
}
.section .section-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.submit-btn:hover{
  cursor: pointer;
}
.form-group p{
  margin-left: 15px;
}
#booking {
  font-family: 'Alice', serif;
  background: rgba(133, 104, 73, 0.53);
}

.booking-form {
  position: relative;
  width: 80%;
  width: 100%;
  margin: auto;
  background: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
}

.booking-form .booking-bg {
  position: absolute;
  left: 25px;
  top: -25px;
  bottom: -25px;
  width: 400px;
  background-image: url('src/app/table-module/create-table/img/hinh-anh-ly-cafe-dep-1.jpeg');
  background-size: cover;
  background-position: center;
  padding: 25px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.header-content1 h2{
  text-align: center;
  color: var(--color-content);
  font-family: 'Playfair Display', serif;
}
.booking-form .booking-bg::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(236, 155, 68, 0.6);
}

.booking-form>form {
  margin-left: 425px;
  padding: 30px;
}

.booking-form .form-header {
  margin-bottom: 30px;
  margin-top: 60px;
  position: relative;
  z-index: 20;
}

.booking-form .form-header h2 {

  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 900;
  color: #fff;
  font-size: 42px;
  text-transform: capitalize;
}

.booking-form .form-header p {
  color: #fff;
  font-size: 18px;
}

.booking-form .form-group {
  position: relative;
  margin-bottom: 20px;
}

.booking-form .form-control {
  background-color: #e5e5e5;
  height: 45px;
  padding: 0px 15px;
  color: var(--color-content);
  border: 1px solid #e5e5e5;
  font-size: 20px;
  font-weight: 700;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 40px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.booking-form .form-control::-webkit-input-placeholder {
  color: #9d9c9c;
}

.booking-form .form-control:-ms-input-placeholder {
  color: #9d9c9c;
}

.booking-form .form-control::placeholder {
  color: #9d9c9c;
}

.booking-form .form-control:focus {
  background: #ffffff;
}
.booking-form .form-control{
  background-color: #d6d6d6;
}
.booking-form input[type="date"].form-control:invalid {
  color: #9d9c9c;
}

.booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking-form select.form-control:invalid {
  color: #9d9c9c;
}

.booking-form select.form-control option {
  color: var(--color-content);
  height: 50px;
}

.booking-form select.form-control+.select-arrow {
  position: absolute;
  right: 3px;
  bottom: 5px;
  width: 32px;
  line-height: 32px;
  height: 32px;
  text-align: center;
  pointer-events: none;
  color: #e5e5e5;
  font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
  content: '\279C';
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.booking-form .form-label {
  color: var(--color-content);
  line-height: 24px;
  height: 24px;
  font-size: 20px;
  font-weight: 400;
  margin-left: 20px;
}

.booking-form .form-btn {
  margin-top: 30px;
}

.booking-form .submit-btn {
  display: block;
  width: 100%;
  color: #fff;
  background-color: rgba(236, 155, 68, 1);
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 40px;
  height: 55px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
  background-color:rgba(236, 155, 68, 0.7);
}

@media only screen and (max-width: 768px) {
  .booking-form .booking-bg {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: -15px;
    width: 95%;
    margin: auto;
  }
  .booking-form>form {
    margin-left: 0px;
  }
}
@keyframes noti{
  from{
    transform: translateY(-140px);
    opacity: 0;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}
#noti{
  position: absolute;
  z-index: 100;
  top: 25%;
  right: 30%;
  left: 30%;
  animation-name: noti;
  animation-duration: 1s;
}

.modal-body {
  text-align: center;
}

.message-body {
  text-align: center;
}

.alert-dismissible {
  padding-right: 0rem;
}
