<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <title>Reset Password Email Template</title>
  <meta name="description" content="Reset Password Email Template.">
  <style type="text/css">
    a:hover {
      text-decoration: underline !important;
    }
  </style>
</head>
<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0"
      xmlns:height="http://www.w3.org/1999/xhtml">
<form class="container" [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmit()">

    <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
           style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif; text-align: center;
      margin-top: 110px">
      <tr>
        <td>
          <table style="background-color: #f2f3f8; max-width:670px; margin-top: 20px; margin-left:200px; alignment: center; cellpadding:0; cellspacing:0 ;width:100%; border:0">
        <tr>
          <td>&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align:center;">
          <h2>Đổi mật khẩu</h2>
        </td>
      </tr>
      <tr>
        <td style="height:20px;">&nbsp;</td>
      </tr>

      <tr>
        <td>
          <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                 style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
            <tr>
              <td style="height:40px;">&nbsp;</td>
            </tr>
            <div formGroupName="passwordGroup">
            <tr>
              <td style="padding:0 35px;">
                <div class="form-group">
                  <label class="control-label" for="password">New Password</label>
                  <input class="form-control" type="password" id="password" name="password"
                         formControlName="password">
                  <div
                    *ngIf="resetPasswordForm.get(['passwordGroup','password']).invalid && (resetPasswordForm.get(['passwordGroup','password']).touched || resetPasswordForm.get(['passwordGroup','password']).dirty)">
          <span class="text-danger"
                *ngIf="resetPasswordForm.get(['passwordGroup','password']).hasError('required')">
          Yêu cầu nhập đầy đủ</span>
                    <span class="text-danger"
                          *ngIf="resetPasswordForm.get(['passwordGroup','password']).hasError('minlength')">
          Mật khâu phải trên 6 ký tự</span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td style="height:40px;">&nbsp;</td>
            </tr>
            <tr>
              <td style="padding:0 35px;">
                <div class="form-group">
                  <label class="control-label" for="confirmPassword">Confirm Password</label>
                  <input class="form-control" type="password" id="confirmPassword" name="confirmPassword"
                         formControlName="cfPassword"/>
                  <div
                    *ngIf="resetPasswordForm.get(['passwordGroup','cfPassword']).touched || resetPasswordForm.get(['passwordGroup','cfPassword']).dirty">
        <span class="text-danger"
              *ngIf="(resetPasswordForm.get(['passwordGroup','cfPassword']).value != resetPasswordForm.get(['passwordGroup','password']).value && resetPasswordForm.get(['passwordGroup','cfPassword']).value !=null)">
        Xác nhận mật khẩu không trùng khớp</span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td style="height:40px;">&nbsp;</td>
            </tr>
            </div>
            <tr>
              <td>
                <button class="button btn btn-success px-5" [disabled]="resetPasswordForm.invalid">Lưu</button>
              </td>
            </tr>
            <tr>
              <td style="height:20px;">&nbsp;</td>
            </tr>
          </table>
        </td>

      <tr>
        <td style="height:20px;">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align:center;">
          <p style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">
            &copy;<strong>www.thecoffeehouse.com</strong></p>
        </td>
      </tr>
      <tr>
        <td style="height:80px;">&nbsp;</td>
      </tr>
    </table>
        </td>
      </tr>
    </table>
</form>
</body>

