button.btn.openmodal {
  font-size: 25px;
  color: var(--main-color);
}
.container.d-flex.justify-content-center.mt-100 {
  margin-top: 103px;
}
.flex-custum {
  flex-direction: column;
}
.product-option {
  /*margin-left: -16px;*/
  font-weight: bold;
  margin-top: 1rem;
}
.product-option span {
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  height: 30px;
}
.btn-custom {
  background-color: #fa8c16!important;
  border: none!important;
}

.form {
  position: absolute;
  left: 10%;
  right: 10%;
}

/*Noti*/
/*@keyframes noti{*/
/*  from{*/
/*    transform: translateY(-140px);*/
/*    opacity: 0;*/
/*  }*/
/*  to{*/
/*    transform: translateY(0px);*/
/*    opacity: 1;*/
/*  }*/
/*}*/
/*#noti{*/
/*  background: antiquewhite;*/
/*  position: absolute;*/
/*  z-index: -1;*/
/*  top: 44%;*/
/*  right: 15%;*/
/*  left: 15%;*/
/*  animation-name: noti;*/
/*  animation-duration: 1s;*/
/*}*/
body {
  background: url("src/assets/images/home-img.jpeg") no-repeat;
  background-size: 100% 600px;
  height: 600px;
}
